/* Tierheim Lindau default style 0.1 */
/* Released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/********************************************************************************************************************************************/
/* globals, resets*/
/********************************************************************************************************************************************/
html, body {
  margin: 0; /* aeusseren Abstand / Rand auf zuruecksetzen */
  padding: 0; /* inneren Abstand zuruecksetzen */
  height: 100%; /* Seite soll ueber volle Hoehe gehen */
  background-color:#f0ece0;
  font-family: Arial;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********************************************************************************************************************************************/
/* divs*/
/********************************************************************************************************************************************/
 
.wrapper {
  background-color: #ffffff;
  width: 1024px;
  margin: 0 auto; /* Den Container zusaetzlich zentrieren */
  min-height: 100%; /* Mindesthoehe auf 100 % (bei modernen Browsern) */
  height: auto !important; /* important (bei modernen Browsern */
  height: 100%; /* IE soll wie gewuenscht interpretieren */
  overflow: hidden !important; /* Firefox Scrollleiste */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=3)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=3)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=2);
  
  box-shadow: 0 0 40px #999999; /*CSS3 Standard*/
  -moz-box-shadow: 0 0 40px #999999; /*Mozilla-basierte Browser (z.B. Firefox)*/
  -webkit-box-shadow: 0 0 40px #999999; /*WebKit-basierte Browser (z.B. Safari/Chrome)*/
}

#header {
  background-color: #cccc33;
  height: 125px;
}

#header_left {
  position: relative;
  float: left;
  margin: 20px 0 0 20px;
  width: 25%;
  height: 90px;
  background-color: #ebecaa;
  text-align: center;
  padding-top: 15px;

  border-top-left-radius: 10px; /*CSS3 Standard*/
  border-top-right-radius: 10px; /*CSS3 Standard*/
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  
  box-shadow: 0 0 15px #999999; /*CSS3 Standard*/
  -moz-box-shadow: 0 0 15px #999999;
  -webkit-box-shadow: 0 0 15px #999999;
}

#header_right {
  float: right;
  margin: 20px 20px 0 0;
}

#navipath {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8em;
  color: #008491;
}

#col1 {
  float: left;
  width: 25%;
  height: auto;
}

#col1_3 {
  float: left;
  margin: 0; /* aeusseren Abstand / Rand auf zuruecksetzen */
  padding: 0; /* inneren Abstand zuruecksetzen */
  padding-top:10px;
  min-height: 1000px;
  width: 75%;
  background-color: #f6f5f0;
}

#col4 {
  float: right;
  margin: 0; /* aeusseren Abstand / Rand auf zuruecksetzen */
  padding: 0; /* inneren Abstand zuruecksetzen */
  width: 25%;
  font-size: 1em;
}

#welcome, #component {
    float: left;
    padding: 0 20px 20px 20px;
}

.blog {
    margin: 0 auto;
    width: 555px;
}

.items-leading, .items-row {
  background-color: #ffffff;
  min-height: 120px;
  margin: 15px 0 20px 0;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #999999; /*CSS3 Standard*/
  -moz-box-shadow: 0 0 10px #999999; /*Mozilla-basierte Browser (z.B. Firefox)*/
  -webkit-box-shadow: 0 0 10px #999999; /*WebKit-basierte Browser (z.B. Safari/Chrome)*/
}

.blog-featured, .blog-featured_home {
    padding: 10px 20px 10px 20px;
}

.blog-featured h1 {
  font-size: 1.2em;
  color: #cc0033;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.highlight {
  background-color: #cccc33;
  padding-left: 10px;
}

.highlight h1 {
  font-size: 3em;
  color: #ffffff;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

#welcome p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.indent_left {
  padding-left: 20px;
}

.indent_right {
  padding-right: 20px;
}

.extra_links {
  float: right;
  padding-top: 10px;
}

.search {
  padding: 15px 20px 10px 20px;
}

#submenu {
  margin: 15px 20px 0 0;
}

#content {
    float: left;
    width: 75%;
    border: none;
}

body.home #component {
    padding: 0 20px 0 20px;
    float: left;
}

#component {
    padding: 0 20px 0 0;
    float: left;
}

.item-page {
    padding-top: 15px;
}

/********************************************************************************************************************************************/
/* inline */
/********************************************************************************************************************************************/
h1 {
  font-size: 1.2em;
  color: #cc0033;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.8em;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

p {
  font-size: 0.8rem;
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

ul{
  list-style-type: square;
}

li {
  font-size: 0.8rem;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

strong, b {
  color: #008491;
}

a:link {
text-decoration: none;
}

a:hover, a:active {
text-decoration: underline;
}

img {
  max-width: 100%;
}

/********************************************************************************************************************************************/
/* mainmenu */
/********************************************************************************************************************************************/
#mainmenu {
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 30px;
  overflow-y: hidden;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1em;
  line-height: 100%;
  background-color: #008491;
}

.menu {
  float: left;
  position: relative; 
  left: 50%;
  margin: 0 auto;
  padding: 3px 0 3px 0; 
  list-style-type: none;
}

.menu li:first-child {
  float: left;
  position: relative;
  padding: 0px 10px 0 10px;
}

.menu li:last-child {
  float: left;
  position: relative;
  padding: 0 10px 0 10px;
}

.menu li {
  float: left;
  font-size: 1em;
  position: relative;
  right: 50%;
  padding: 0 10px 0 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.menu li a {
width: auto;
display: block;
padding:0 10px;
line-height: 1.5em;
color: #fff;
text-decoration:none;
}

.menu li a:hover {
  color: #000;
}

.menu li.active a {
  color: #000;
}

#mainmenu ul.menu li a:active, #mainmenu ul.menu li a:hover, #mainmenu ul.menu li.active, #mainmenu ul.menu li.active a, #mainmenu ul.menu li:hover {
    color: #fff;
    background-color: #cccc33;
    font-weight: bold;
    text-decoration: none;
    height: 30px;
    top: -2px;
}

/********************************************************************************************************************************************/
/* submenu elements*/
/********************************************************************************************************************************************/
#submenu ul.menu {
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#submenu ul.menu li {
  float: left;
  font-size: 1em;
  line-height: 1.6em;
  vertical-align: middle;
  zoom: 1;
  float: none;
  clear: both;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  text-indent: 20px;
  background-color: #f6f5f0;
  border-bottom: 3px solid #FFFFFF;
  text-decoration: none;
}

#submenu ul.menu li a {
    color: #008491;
    padding: 0px;
}

#submenu ul.menu li a:active, #submenu ul.menu li a:hover, #submenu ul.menu li.active, #submenu ul.menu li.active a, #submenu ul.menu li:hover {
    color: #ffffff;
    background-color: #008491;
    font-weight: bold;
    text-decoration: none;
    text-indent: 50px;
}

#submenu ul.menu li a:hover:before, #submenu ul.menu li.active:before {
    content: url(../images/pfote.png);
    position: absolute;
    height: 24px;
    left: -30px;
    color: #FFFFFF;
}

/********************************************************************************************************************************************/
/* links */
/********************************************************************************************************************************************/
.tagIcon_red {
  float: left;
  height: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-left: 20%;
  padding: 0 15px 0 15px;
  background: #cc0033;
  border-radius: 0 4px 4px 0;
}

.tagIcon_red:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  border-color: transparent #cc0033 transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
}

.tagIcon_green {
  float: left;
  height: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-left: 20%;
  padding: 0 15px 0 15px;
  background: #008491;
  border-radius: 0 4px 4px 0;
}

.tagIcon_green:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  border-color: transparent #008491 transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
}

.tagIcon_red:link, .tagIcon_green:link, .tagIcon_red:hover, .tagIcon_green:hover, .tagIcon_red:active .tagIcon_green:active, .tagIcon_red:visited, .tagIcon_green:visited {
  color: white;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #008491;
  font-weight: bold;
}

a:hover, a:active, a:visited {
  text-decoration: underline;
  color: #008491;
}

/********************************************************************************************************************************************/
/* Tabellen */
/********************************************************************************************************************************************/

table {
  font-size: 0.8em;
}

/*Standard-Tabelle*/
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #008491;
  color: #fff;
}

/*Rahmenlose Tabelle*/
.invisible td {
    border: 0;
    border-spacing: 0;
}

/********************************************************************************************************************************************/
/* Scroll-Button (Only shown if plugin "Top of the Page" is installed) */
/********************************************************************************************************************************************/
#gototop {
position: fixed;
bottom: 20px;
right: 20px;
text-indent: -999em;
color: white;
background-color: rgba(0, 0, 0, 0.3);
background-image: url(../images/back-to-top.png);
padding: 0;
height: 50px;
width: 50px;
opacity: 0.7;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
filter: alpha(opacity=70);
z-index: 999;
display: none;
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;
}

/********************************************************************************************************************************************/
/* Footer */
/********************************************************************************************************************************************/
a {
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition:  all .2s linear;
    transition: all .2s linear;
}

.clear {
    clear: both;
}

footer {
    position: relative;
}

footer .splitter {
    background-color: #008491;  
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
    height: 2px;
}

footer > ul {
    list-style: none outside none;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 25px 0;
    position: relative;
    width: 95%;
}

footer > ul li {
    float: left;
    padding: 20px 15px;
    width: 33.3%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

footer > ul li:first-child {
    padding-left: 0;
}

footer > ul li:nth-child(3) {
    padding-right: 0;
}

footer > ul li .icon {
    color: #999999;
    float: left;
    font-size: 80px;
    line-height: 80px;
}

footer > ul li .text {
    color: #848889;
    font-size: 13px;
    line-height: 20px;
    margin-left: 105px;
    position: relative;
    text-align: justify;
}

.text h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer .bar {
    background-color: #cccc33;
    padding: 5px 0;
}

footer .bar-wrap {
    font-size: 12px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 95%;
}

.bar-wrap ul {
    margin-left: 0;
}

.links {
    float: left;
    list-style: none outside none;
    position: relative;
}

.links li {
    float: left;
    margin-right: 10px;
}

.links a {
    color: #ffffff;
}

.links a:hover {
    color: #FFFFFF;
}

.copyright {
    color: #ffffff;
    margin-top: 5px;
    text-align: center;
    font-size: small;
}

.copyright a {
    color: #ffffff;
}

@media screen and (max-width: 1000px){
    .links, .copyright{
        float:none;
        text-align:center;
    }

    .links li {
        display:inline-block;
        float:none;
    }

    .bar {
        position:relative;
    }

    .bar-wrap {
        margin-bottom:0;
    }
}

@media screen and (max-width: 835px)  {
    footer > ul li {
        float:none;
        width:auto;
    }
}

@media screen and (max-width: 768px)  {
    .links li {
        margin-right:5px;
    }
}